<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="noindex, nofollow">
    <title>{{.Title}}</title>
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <script defer src="https://umami.jaw.dev/script.js" data-website-id="523275d2-6964-4ccd-a40f-d6bec6b12c77"></script>
</head>
<body>
    <main>
        {{template "content" .}}
    </main>

    <footer>
        <p>
            Copyright © 2026. Made with ❤️ by <a href="https://github.com/wajeht">@wajeht</a>
            |
            <a href="https://github.com/wajeht/commit" target="_blank" rel="noopener noreferrer">Github</a>
        </p>
    </footer>
</body>
</html>
